<div class="register">
  <form class="form-signin" ng-submit="submit()">
    <input type="text" class="form-control" placeholder="Username" ng-model="inputUsername" required autofocus>
    <input type="password" class="form-control" placeholder="Password" ng-model="inputPassword" required>
    <input type="password" class="form-control" ng-class="{'has-error': passwordConfirmError}" placeholder="Confirm Password" ng-model="inputPasswordConfirm" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

    <p ng-show="error">{{error}}</p>
  </form>
</div>
